<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
        <% @post.errors.full_messages.each do |message| %>
         <div class="form-error">
          <%= message %>
         </div>
        <% end %>
        
          <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        </div>
　　　　<!--<%= select_tag 'list[num]', options_for_select(["1", "2", "3", "4", "5","6", "7", "8", "9", "10"]), :multiple => true,:size => 3 %>-->

      </div>
    <% end %>
  </div>
</div>